*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    transition: .35s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition:.3s ease;
    scroll-behavior: smooth;  
    font-size: 1rem;
    cursor: default;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
    width: 0px;
    height: 0px;
    padding: 0;
}

img{
    image-rendering: optimizeSpeed;
}
a{
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    color: currentColor;
}
html , body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.nav{
    background-color: white;
    width: calc(100vw - 2rem);
    margin-top: .4rem;
    border-radius: .5rem;
    margin-left: 1rem;
    position: fixed;
    padding: .0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 3.2rem;
    font-size: 1rem;
    box-shadow:  0 0 .6rem -.14rem rgb(62, 86, 95);
}
.web-title{
    color: #15191b;
    font-weight: 500;
    font-size: 1.4rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-touch-user-select:none ;
}
.nav-list{
    display: flex;
    width: 21rem;
    min-width: 15rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;   
}
.nav-list-items{
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76%;
    padding: 0rem 1.3rem 0.05rem 1.3rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: white;
}
.nav-list-items:hover{
    transition: background-color .3s ease-in-out;
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}
.nav-list-items:nth-child(1){
    background: #202020;
    color: white;
    border-radius: 2rem;
}
.nav-btn-login{
    transition: background-color 0s;
    transition: 0.35s ease-in-out;
    outline: none;
    -webkit-outline:none;
    padding: .1rem 1.2rem .3rem 1.2rem;
    border:none;
   color: rgb(248, 248, 248);
    border-radius: .2rem;
    font-size: 1.2rem;
    background:#202020;
    box-shadow: 0rem .26rem .4rem -.2rem rgb(43, 1, 92);
}
.nav-btn-login:hover{
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #0091ea;
    background:#3f3f3f;
    
}
.nav-btn-login:active{
    transition: 0s;
    background-color: white;
}
.body{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(images/pyr.jpg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.imagetop{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: rgba(0,0,0,.7);
    z-index: 2;
    width: 100vw;
    height: 86vh ; 
    min-height: 25rem;
    display: flex;
    padding: 0rem 2rem 3rem 2rem;
    color: #2b2b2b;
}

.container{
    border-radius: .5rem;
    z-index: 2;
    padding: 3rem 2rem 0rem 2rem;
    width: 100vw;
    min-height: 100vh; 
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: white;
}
.container > ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.container > ul > li{
    padding: .2rem;  
    width: 18rem;
    height: 12rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(5, 218, 171);
    margin: .4rem;
    border-radius: .3rem;
    list-style: none;
    text-shadow: 0 0 2px black;
}
.container > ul > li > button{
    padding: 0 .5rem .2rem .5rem;
    border: none;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.container > ul > li > button:hover{
    background-color: rgb(2, 134, 101);
    color: white;
    box-shadow: 0 0 .4rem -.1rem rgb(2, 1, 104);
}
.topic{
    font-size: 3.5rem;
    margin-left: 1rem;
}
.topic2{
    font-size: 1.2rem;
    text-shadow: 0 0  black;
    margin-left: 1rem;
    max-width: 25rem;
    word-wrap: break-word;
}
.text-box{
    text-shadow: 0 0 green;
    width: 100vw;background-color: rgba(0,0,0,.7);
    z-index: 1;
    float: left;
    left: 0;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    padding: 0 1rem;
    align-self: center;  
    font-size: 1.2rem;
}
    /* ltr aligned container */
.ltr-container{
    width: 90vw;
    justify-self: center;
    color: #15191b;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 2rem;
}
.ltr-word-content{
    color: #15191b;
    display: flex;
    min-width: 17rem;
    flex-direction: column;
    align-items: center;
    max-width:calc(33% - 1rem);
}
.ltr-word-content h2{
    font-weight: normal;
    font-size: 2.5rem;
    color: #0b37fc;
    text-transform: uppercase;
}
.ltr-word-content p{
    font-weight: light;
    font-size: 1.2rem;
    color: inherit;
    text-align: center;
}
.ltr-image-content{
    height: 17rem;
    width: 17rem;
    margin:1rem .5rem ;
    border-radius: .4rem;
    background-color: #d4d4d4;
}
    /* rtl aligned container */
.rtl-container{
    width: 90vw;
    justify-self: center;
    margin-bottom: 1rem;
    color: #15191b;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 3rem 2rem;
}
.rtl-word-content{
    color: #15191b;
    display: flex;
    min-width: 17rem;
    flex-direction: column;
    align-items: center;
    max-width:calc(33% - 1rem);
}
.rtl-word-content h2{
    font-weight: normal;
    font-size: 2.5rem;
    color: #0b37fc;
    text-align: center;
    text-transform: uppercase;
}
.rtl-word-content p{
    text-align:center ;
    font-weight: light;
    font-size: 1.2rem;
    color: inherit;
}
.rtl-image-content{
    min-height: 17rem;
    height: fit-content;
    margin: 1rem .5rem;
    width: calc(32% - 1rem);
    border-radius: .4rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* end of alignment containers */
.my-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .4rem;
}
.next{
    border: 1px none #0b37fc;
    padding: .1rem 1rem .3rem 1rem;
    margin:2rem 1rem ;
    color: #f1f1f1;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(0, 55, 173);
}
.l1{
    background-image: url(images/blender.jfif);
    background-size: auto 100%;
    
}
.l1:hover{
    background-size: auto 120%;
    
}
.l2{
    background-image: url(images/unity.jfif);
    background-size: auto 100%;
}
.l2:hover{
    background-size: auto 120%;
}
.l3{
    background-image: url(images/unreal.jfif);
    background-size: auto 100%;
}
.l3:hover{
    background-size: auto 120%;
}
.l4{
    background-image: url(images/flutter.png);
    background-size: auto 100%;
}
.l4:hover{
    background-size: auto 120%;
}
.l5{
    background-image: url(images/tensorflow.jfif);
    background-size: auto 100%;
    color: black;
    text-shadow: 0 0 2px white;
}
.l5:hover{
    background-size: auto 120%;
}
.l6{
    background-image: url(images/gimp.jfif);
    background-size: auto 100%;
}
.l6:hover{
    background-size: auto 120%;
}


.infol1,.infol2,.infol3,
.infol4,.infol5,.infol6{
    z-index: -5;
    width: 89vw;
    box-shadow: 0 0 1000rem 1000rem #00000054;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    align-self: center;
    justify-self: center;
    top: 20vh;
    bottom: 0;
}
.infol1>img,.infol2>img,.infol3>img,
.infol4>img,.infol5>img,.infol6>img{
    height: 60vh;
    width: 90vh;
    object-fit: cover;
    object-position: center;
}
.infol1>div,.infol2>div,.infol3>div,
.infol4>div,.infol5>div,.infol6>div{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.visible{
    z-index: 13;
}
#killblender,#killunity,#killunreal,
#killflutter,#killtensor,#killgimp{
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
    border:1px solid #494949;
    color: #454545;
    border-radius: .2rem;
    margin: .3rem;
}
.btitile{
    align-self: flex-start;
    font-size: 2.2rem;
    margin-left: 15%;
}
.desc{
    align-self: center;
    width: 70%;
    color: #494949;
}
.download{
    padding: .1rem 2rem .3rem 2rem;
    background-color: rgb(4, 191, 238);
    color: #445555;
    margin-top: 1rem;
    text-decoration: none   ;
}

/* bar graphs */
.bargraph{
    width: 96%;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    padding: .4rem .4rem;
    background-color: white;
    box-shadow: 0.1rem 0 .6rem -.2rem grey;
    margin-bottom: .4rem;
}
.bargraph:hover{
    width: 100%;
    box-shadow: 0rem 0.2rem .5rem -.2rem #0b37fc;
}
.bg-title{
    font-weight: normal;
    font-size: 1.15rem;
    color: #202020;
    margin-bottom: .3rem;
}
.bg-holder{
    width: 100%;
    border-radius: .3rem;
    background-color: #d4d4d4;
    height: .4rem;
}
.bg-indicator{
    min-width: 10%;
    width: 40%;
    height: .4rem;
    border-radius: .3rem;
    background-color: #0b37fc;
}

/* end of graphs */
/* individual graph indicator widths  */
.bg-html{width: 87%;}
.bg-css{width: 94%;}
.bg-js{width: 74%;}
.bg-spark{width: 64%;}

.bg-pd{width: 84%; background-color: rgb(196, 0, 59)}
.bg-ce{width: 79%; background-color: rgb(196, 0, 59)}
.bg-java{width: 74%; background-color: rgb(196, 0, 59)}
.bg-ax{width: 90%; background-color: rgb(196, 0, 59)}
.bg-anim{width: 88%; background-color: rgb(196, 0, 59)}
/* end of graph widths */
/*icons */
.iconholster{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    right: .7rem;
    top: 40%;
    padding: .4rem;
    background:none;
    border-radius: 3rem;
}
.icons{
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    border-color: rgb(61, 61, 61);
    border-width: .1rem;
    color: rgb(59, 59, 59);
    border-radius: 3rem;
    height: 2.5rem;
    margin-bottom: .4rem;
    width: 2.55rem;
    box-shadow:0 0 0.6rem -.2rem rgb(2, 61, 48);
    object-fit: contain;
    color: #0091ea;
}

.icons:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-color: rgb(37, 32, 34);
    box-shadow:0 0 0.8rem -.2rem rgb(1, 56, 44);
    background-color: #009e77;
}
/*icons end*/

@media screen and (orientation:portrait){
    .container ul{
        width: 100vw;
    }
    .container ul li{
        width: 90vw;
        height: 60vw;
    }
    .nav{
        width: 98vw;
        margin-left: 0;
    }
    .nav-list{
        display: none;
    }
    .rtl-image-content,.ltr-image-content{
        width: 100%;
        padding: none ;
        max-width: 100%;
        min-width: 100%;
    }
    .rtl-content ,.ltr-content{
        padding: 0 .5rem;
        width: 100vw;
        margin: 0;
    }
}